asgiref @ file:///tmp/build/80754af9/asgiref_1617740417847/work
boto3==1.17.61
botocore==1.20.61
certifi==2020.12.5
chardet==4.0.0
Django @ file:///tmp/build/80754af9/django_1617740316746/work
django-countries==7.1
django-crispy-forms==1.11.2
django-embed-video==1.4.0
django-mathfilters==1.0.0
django-pagination-bootstrap==2.4.4
django-ses==2.0.0
future==0.18.2
idna==2.10
jmespath==0.10.0
mysqlclient==2.0.3
Pillow==8.2.0
psycopg2 @ file:///C:/ci/psycopg2_1612298766762/work
python-dateutil==2.8.1
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
requests==2.25.1
s3transfer==0.4.2
six==1.15.0
sqlparse @ file:///tmp/build/80754af9/sqlparse_1602184451250/work
urllib3==1.26.4
wincertstore==0.2
